.mat-dialog-content {
    overflow: hidden;
}

.mat-dialog-actions {
    margin: 0;
}

h1 {
    font-family: 'Lucida Console', Times, serif;
    text-align: center;
}

.dialog {
    width: 500px;
    height: 150px;
}
