#body-box {
    margin: auto;
    width: 90%;
    height: 450px;
    font: 15px arial, sans-serif;
    background-color: #fffaec;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid #403233;
    border-radius: 10px;
    overflow: auto;
}

.message-box {
    margin: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f0f0;
    width: 90%;
    float: left;
    clear: both;
    word-break: break-word;
}

.guest {
    background-color: orchid;
}

.host {
    color: teal;
}

.system {
    color: blueviolet;
}

.message-time {
    display: inline-block;
    font-size: 12px;
    font-family: 'Lucida Console', Times, serif;
    font-weight: bold;

}

.message-text {
    display: inline-block;
    font-size: 12px;
    font-family: 'Lucida Console', Times, serif;
}

#input-bar {
    margin-left: 20px;
    margin-top: 20px;
}

#input-bar {
    size: 200;
}
#input-box {
    resize: none;
}
#send-button {
    margin-left: 20px;
    background-color: #403233;
    border-color: #403233;
    color: white;
    width: 110px;
    height: 30px;
    border-radius: 10px;
    border: 2px;
    font-size: 18px;
}
