<div mat-dialog-content fxLayout="column" class="dialog">
    <h1>Entrez le nom du jeu</h1>
    <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput [formControl]="gameName">
        <mat-error *ngIf="gameName.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <div fxLayoutAlign="end">
        <button mat-raised-button (click)="onSubmit()" [disabled]="!gameName.valid" color="primary">
            Sauvegarder </button>
    </div>
</div>
<button mat-button mat-dialog-close id="close-button"> <mat-icon>highlight_off</mat-icon></button>
